<h1><%= @user.name %></h1>

<%= t('users.user_email') %> <%= @user.email %> (<%= link_to image_tag("buttons/edit.png", :alt => "#{t('buttons.edit')}", :title => "#{t('buttons.edit')}", :class => 'img-buttons'), edit_user_path(@user.id) %>)<br><br>
