<% content_for :title, @page.title %>
<% content_for :metadescription, @page.metadescription %>
<% content_for :metakeywords, @page.metakeywords %>
<% content_for :head, @page.head %>

<div class="div-content">
	<h1><%= @page.name %></h1>
	<%= @page.content %>
</div>