<% content_for :title, @main.title %>
<% content_for :metadescription, @main.metadescription %>
<% content_for :metakeywords, @main.metakeywords %>
<% content_for :head do %>
  <%= raw @main.head %>
<% end %>


<div class="div-content"><%= raw @main.content %></div>

