<% content_for :title, @main.title %>
<% content_for :metadescription, @main.metadescription %>
<% content_for :metakeywords, @main.metakeywords %>
<% content_for :head, @main.head %>

<div class="div-content"><%= @main.content %></div>

